<h1>Article de Pokémon</h1>

<input class="container"
    #input
    (keyup.enter)="resultForm(input.value)"
    type="string"




>

<div class="container card-group">
  <div *ngFor="let article of articles">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ article }}</h5>
        <p (click)="showArticle(article)" class="card-text">Clickez ici !</p>
      </div>
    </div>
  </div>
  
</div>