<h1 class="text-center my-5">Listes de pokemons</h1>



<div class="container d-flex justify-content-around me-2">
  <div class="row">
    <div *ngFor="let pokemon of pokemonList" class="col-3 border border-secondary border-3 m-1">
      
      <img src="{{ pokemon.picture }}" alt="image de {{ pokemon.name }}" class="m-auto d-block">
      <h4 class="text-center">{{ pokemon.name }}</h4>
      <p class="text-center">Types : <span *ngFor="let pokemonType of pokemon.types" class="types"> {{ pokemonType }},</span></p> 
      <p class="text-center">créé le : {{ pokemon.created }}</p>
  
    </div>

  </div>
</div>
